// Colors of project

// Brand-colors
$primary-dark: #E8438A;
$primary-normal: #FF609F;
$primary-light: #FF8BBA;

$secondary-dark: #8F726D;
$secondary-normal: #BF9A94;
$secondary-light: #D3B7B3;
$secondary-lighten: #ffd494;

// Neutral-colors

$black-dark: #550123;
$black-normal: #850035;
$black-light: #D11164;
$black-lighten: #F0237C;
$black-darken: #3A0319;

$white-dark: #CEF1F2;
$white-normal: #E8F9FA;
$white-light: #F7FFFF;

// Gray Scale
$gray-1: #5C203A;
$gray-2: #632540;
$gray-3: #692B46;
$gray-4: #6B2E48;
$gray-5: #71344E;
$gray-6: #783D56;
$gray-7: #854A63;


// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #06A06F;
$green-light: #23C691;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


.color-white{
    color: $white-light;
}

.color-black{
    color: $black-light;
}

.color-black-lighten{
    color: $black-lighten;
}

.color-primary{
    color: $primary-dark;
}

.color-secondary{
    color: $secondary-dark;
}

.color-gradient{
    display: inline-block;
    background: linear-gradient(224.78deg, $primary-light 8.12%, $primary-dark 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label{
    background: linear-gradient(224.78deg, $primary-light 8.12%, $primary-dark 92.21%);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;

    color: $white-light;
}

.bg-black{
    background-color: $black-normal;
}

.bg-white{
    background-color: #f7f7f7;
}

.bg-gray{
    background-color: $gray-7;
}

.color-gray{
    color: $gray-3;
}

.color-red{
    color: $red-normal;
}

.color-green{
    color: $green-normal;
}

.color-yellow{
    color: $yellow-normal;
}

.bg-red{
    background-color: $red-normal;
}

.bg-green{
    background-color: $green-normal;
}

.bg-yellow{
    background-color: $yellow-normal;
}

